*{
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body{
  background-color: #FFFDFA;
} 


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}


h1{
  font-family: 'Syne Mono', monospace;
}
